version: "3.8"

services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "18080:8080"
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml
    env_file:
      - ../../.env            # relative path to expected .env file on repo root
    restart: unless-stopped
